$sun-color: #f6cc30
$tree-branch: #AF692C

$leaves-dark: #8CB350
$leaves-darker: #6A8D3E
$leaves-darkest: #527033

.sun
  display: block
  width: 10vw
  height: 10vw
  border-radius: 50%
  background: $sun-color
  position: absolute
  top: -5vw
  left: -5vw
  box-shadow: 8px 8px 14px lighten($sun-color, 15%), 18px 18px 18px lighten($sun-color, 25%)

.tree
  border-left: 2vh solid transparent
  border-bottom: 56vh solid $tree-branch
  border-right: 2vh solid transparent
  width: 0
  height: 0

.leaves
  border-radius: 50%
  display: block

.branch-left
  width: 5vh
  height: 2vh
  background-color: $tree-branch
  position: absolute
  bottom: -43vh
  left: -6vh
  -webkit-transform: rotate(18deg)
  &:before,
  &:after
    content: ''
    width: 5vh
    height: 1vh
    background-color: $tree-branch
    position: absolute
    -webkit-transform: rotate(18deg)
  &:before
    bottom: 8vh
    left: -2vh
  &:after
    bottom: 17vh
    left: -4vh

.branch-right
  width: 5vh
  height: 1vh
  background-color: $tree-branch
  position: absolute
  bottom: -43vh
  left: 1vh
  -webkit-transform: rotate(162deg)
  &:before,
  &:after
    content: ''
    width: 5vh
    height: 1vh
    background-color: $tree-branch
    position: absolute
    -webkit-transform: rotate(162deg)
  &:before
    bottom: -8vh
    left: -2vh
  &:after
    bottom: -17vh
    left: -4vh

$tree1-left: 15vw
.tree1
  position: absolute
  bottom: 10vh
  left: $tree1-left

$leaves1-radius: 20vw
.leaves1
  position: absolute
  bottom: 26vh
  left: $tree1-left - ($leaves1-radius/2) + 2vw
  width: $leaves1-radius
  height: $leaves1-radius
  opacity: 0.8
  background: $leaves-darkest

$tree2-left: 30vw
.tree2
  position: absolute
  bottom: 10vh
  left: $tree2-left

$leaves2-radius: 35vw
.leaves2
  position: absolute
  bottom: 26vh
  left: $tree2-left - ($leaves2-radius/2) + 2vw
  width: $leaves2-radius
  height: $leaves2-radius
  opacity: 0.8
  background-color: $leaves-dark

$tree3-left: 50vw
.tree3
  position: absolute
  bottom: 10vh
  left: $tree3-left

$leaves3-radius: 40vw
.leaves3
  position: absolute
  bottom: 26vh
  left: $tree3-left - ($leaves3-radius/2) + 2vw
  width: $leaves3-radius
  height: $leaves3-radius
  opacity: 0.8
  background: $leaves-darker

$tree4-left: 70vw
.tree4
  position: absolute
  bottom: 10vh
  left: $tree4-left

$leaves4-radius: 30vw
.leaves4
  position: absolute
  bottom: 26vh
  left: $tree4-left - ($leaves4-radius/2) + 2vw
  width: $leaves4-radius
  height: $leaves4-radius
  opacity: 0.8
  background: $leaves-dark

$tree5-left: 85vw
.tree5
  position: absolute
  bottom: 10vh
  left: $tree5-left

$leaves5-radius: 20vw
.leaves5
  position: absolute
  bottom: 26vh
  left: $tree5-left - ($leaves5-radius/2) + 2vw
  width: $leaves5-radius
  height: $leaves5-radius
  opacity: 0.8
  background: $leaves-darker



