.DS_Store
.idea/
.build/
node_modules/
*.iml
dump.rdb
logs/

# build files
css/**/*.map
css/style.css
css/sass/*.css
css/sass/forest/*.css
css/sass/sky/*.css
css/bootstrap.css
js/vendor
coverage.html

# confidential data
config.json
public/img/*
