$moon-color: #fff

.moon
  position: relative
  top: 3vh
  left: 80vw
  width: 15vw
  height: 15vw
  border-radius: 50%
  background: $moon-color
  box-shadow: 0px 0px 100px $moon-color
  z-index: 5

.crater1
  position: absolute
  top: 1vw
  left: 4vw
  width: 2vw
  height: 5vw
  background: darken($moon-color, 5%)
  border-top-right-radius: 50px 100px
  border-top-left-radius: 50px 100px
  border-bottom-right-radius: 50px 100px
  border-bottom-left-radius: 50px 100px
  -webkit-transform: rotate(40deg)
  -moz-transform: rotate(40deg)
  -o-transform: rotate(40deg)
  -ms-transform: rotate(40deg)
  transform: rotate(40deg)

.crater2
  position: absolute
  top: 5vh
  right: 2vw
  width: 2vw
  height: 2vw
  background: darken($moon-color, 10%)
  border-top-right-radius: 20px 20px
  border-top-left-radius: 20px 20px
  border-bottom-right-radius: 20px 30px
  border-bottom-left-radius: 20px 30px
  -webkit-transform: rotate(-60deg)
  transform: rotate(-60deg)

.crater3
  position: absolute
  top: 25vh
  left: 6vw
  width: 1vw
  height: 1vw
  background: darken($moon-color, 2%)
  border-radius: 50%

.crater4
  position: absolute
  top: 10vw
  right: 10vw
  width: 3vw
  height: 2vw
  background: darken($moon-color, 8%)
  border-radius: 50%


.crater5
  position: absolute
  top: 6vw
  left: 10vw
  width: 3vw
  height: 4vw
  background: darken($moon-color, 5%)
  border-radius: 50%
  -webkit-transform: rotate(120deg)
  -moz-transform: rotate(120deg)
  -o-transform: rotate(120deg)
  -ms-transform: rotate(120deg)
  transform: rotate(120deg)

.crater6
  position: absolute
  bottom: 1vw
  left: 8vw
  width: 3vw
  height: 2vw
  background: darken($moon-color, 13%)
  border-radius: 50%

.crater7
  position: absolute
  bottom: 3vw
  left: 3vw
  width: 2vw
  height: 2vw
  background: darken($moon-color, 3%)
  border-radius: 50%


