$leaf-size: 10vh
$flower-color: #527033
$tree-branch: #AF692C

.leaf
  -webkit-transform: rotate(30deg)
  transform: rotate(30deg)
  width: 14vh
  height: 7vh
  display: block
  background: darken($tree-branch, 15%)
  border-radius: 4em 0
  position: absolute
  padding: .2vw 0 0 1.6vw
  color: #fff
  font-size: 4vh

.leaf-1, .leaf-2, .leaf-3, .leaf-4, .leaf-5
  display: none

.leaf-1
  -webkit-animation: falling-leaf-1 20s 1 ease-out
  bottom: 3vh
  left: 50vw

@-webkit-keyframes falling-leaf-1
  0%
    opacity: 0
    -webkit-transform: rotate(-60deg)
    bottom: 50vh
    left: 100vw
    background: $flower-color
  50%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 50vw
    background: $flower-color
  100%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 50vw
    background: darken($tree-branch, 15%)

.leaf-2
  -webkit-animation: falling-leaf-2 20s 1 ease-out
  bottom: 3vh
  left: 10vw

@-webkit-keyframes falling-leaf-2
  0%
    opacity: 0
    -webkit-transform: rotate(-60deg)
    bottom: 50vh
    left: 0
    background: $flower-color
  50%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 10vw
    background: $flower-color
  100%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 10vw
    background: darken($tree-branch, 15%)

.leaf-3
  -webkit-animation: falling-leaf-3 20s 1 ease-out
  bottom: 3vh
  left: 90vw

@-webkit-keyframes falling-leaf-3
  0%
    opacity: 0
    -webkit-transform: rotate(-60deg)
    bottom: 100vh
    right: 10vw
    background: $flower-color
  50%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 90vw
    background: $flower-color
  100%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 90vw
    background: darken($tree-branch, 15%)

.leaf-4
  -webkit-animation: falling-leaf-4 20s 1 ease-out
  bottom: 3vh
  left: 80vw

@-webkit-keyframes falling-leaf-4
  0%
    opacity: 0
    -webkit-transform: rotate(-60deg)
    bottom: 100vh
    left: 20vw
    background: $flower-color
  50%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 80vw
    background: $flower-color
  100%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 80vw
    background: darken($tree-branch, 15%)

.leaf-5
  -webkit-animation: falling-leaf-5 20s 1 ease-out
  bottom: 3vh
  left: 36vw

@-webkit-keyframes falling-leaf-5
  0%
    opacity: 0
    -webkit-transform: rotate(-60deg)
    bottom: 100vh
    left: 60vw
    background: $flower-color
  50%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 36vw
    background: $flower-color
  100%
    opacity: 1
    -webkit-transform: rotate(30deg)
    bottom: 3vh
    left: 36vw
    background: darken($tree-branch, 15%)
