$stem-branch: #5E3917

$flower-size: 4vw
$petal-size: 6vh
$flower-color: #eb1c22
$stem-1-left: 17vw
$stem-2-left: 31vw
$stem-3-left: 38vw
$stem-4-left: 57vw
$stem-5-left: 80vw

.flower
  -webkit-transform: rotateY(120deg)
  transform: rotateY(140deg)
  width: $petal-size
  height: $petal-size
  display: block
  background: $flower-color
  border-radius: 2.5vw 0
  position: absolute
  bottom: 10vh
  &:before
    -webkit-transform: rotateY(193deg)
    transform: rotateY(166deg)
    content: ''
    width: $petal-size
    height: $petal-size
    display: block
    background: $flower-color
    border-radius: 2.5vw 0
    position: absolute
    top: 0
    left: -3vw

.stem
  bottom: 4vh
  position: absolute
  background: $stem-branch
  width: .5vw
  height: 6vh
  display: block

.stem-1
  left: $stem-1-left

.flower-1
  left: $stem-1-left - ($flower-size/2)

.stem-2
  left: $stem-2-left

.flower-2
  left: $stem-2-left - ($flower-size/2)

.stem-3
  left: $stem-3-left

.flower-3
  left: $stem-3-left - ($flower-size/2)

.stem-4
  left: $stem-4-left

.flower-4
  left: $stem-4-left - ($flower-size/2)

.stem-5
  left: $stem-5-left

.flower-5
  left: $stem-5-left - ($flower-size/2)
