unclutter -idle 15 -root &
xset -dpms &
xset s off &

cd ~/greenpi
nvm use iojs
log.io-server &
log.io-harvester &
/home/developer/.nvm/versions/io.js/v1.6.2/bin/node server.js & > greenpi_xinitrc_log.log 2> greenpi_xinitrc_error.log
sleep 10

while true; do
  killall -TERM chromium 2>/dev/null;
  sleep 2;
  killall -9 chromium 2>/dev/null;
  chromium --incognito --kiosk --window-size=1280,800 --window-position=0,0 http://localhost:8000
done;
